:root {
    --color--fondo: rgb(67, 113, 131);
    --color--tipografia: #FFF;
    --color--fondo--botones: rgb(51, 85, 99);
}

html {
    min-height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(26, 26, 26);
    color: #FFF;
    font-family: Roboto;
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
}

.nav-bar {
    background-color: var(--color--fondo);
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
}

.nav-bar h1 {
    font-family: Roboto;
    font-size: 40px;
    /* margin: 0 20px 0 0; */
    margin: 0;
    padding: 30px;
}

.nav-bar h1:hover {
    cursor: default;
}

.nav-bar img {
    width: 50px;
    margin: 0 40px 0 0;
    /* box-shadow: 2px 2px 10px #111; */
}

.login-button {
    align-items: center;
    border-radius: 4px;
    color: #FFF;
    display: flex;
    font-family: Roboto;
    height: 40px;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    width: 100px;

    transition: 100ms;
}

.login-button:hover {
    background-color: var(--color--fondo--botones);
    /* box-shadow: 0px 0px 9px #222; */
}

/* .volver:hover {
    background-color: rgb(170, 55, 55);
} */

.flex {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton {
    background-color: rgb(46, 46, 46);

    transition: 100ms;
}

.volver {
    /* background-color: rgb(170, 55, 55); */
    background-color: rgb(95, 33, 33);
    margin-bottom: 40px;
}

.volver:active {
    background-color: rgb(129, 73, 73);
}

.boton,
.volver {
    border-radius: 4px;
    color: #FFF;
    display: inline-block;
    font-family: Roboto;
    font-size: 1.5rem;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px;
    text-decoration: none;
    width: 350px;
}

.volver {
    width: 150px;
}

.boton:hover {
    background-color: var(--color--fondo);
    cursor: pointer;
}

.formulario {
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    margin: auto;
    padding: 20px;
    width: 350px;
}

.formulario input {
    font-size: 1.1rem;
    color: #FFF;
    background-color: rgb(54, 54, 54);
    text-align: center;
    margin-bottom: 20px;
    height: 30px;
    width: 100%;
}

.submit {
    color: #000;
    width: 50%;
    background-color: rgb(255, 255, 255);
}

.submit:hover {
    cursor: pointer;
}

#nombre-editorial {
    font-size: 16px;
    height: 20px;
}

.lista {
    display: flex;
    font-family: Roboto;
    font-size: 1.4rem;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 60px;
    text-align: left;
}

.cabecera,
.item {
    padding: 10px 30px;
    margin: 0;
    border-radius: 2px;
}

.fila,
.nuevo {
    margin: 0;
}

.nuevo td, th,
.fila td, th {
    margin: 0;
}

.nuevo #nombre {
    background-color: rgb(0, 0, 0);
    cursor: default;
}


footer {
    position: relative;
}

footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    color: white;
    
}

footer div {
    top: 50%;
    transform: translate(0, -50%);
}

.error {
    color: #FFF;
    font-family: Roboto;
    font-size: 1.2rem;
    background-color: rgb(189, 49, 49);
    border-radius: 4px;
    margin: 0px auto;
    width: 400px;
}

.error p {
    padding: 10px 0;
}

.success {
    font-size: 1.2rem;
    color: rgb(194, 250, 110);
    width: 300px;
    margin: 0 auto;
}



.modificar a,
.eliminar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 4px;
    padding: 8px;
    background-color: rgb(51, 47, 47);
    margin: 0 10px;
}

.modificar a:hover {
    color: #000;
    background-color: rgb(236, 217, 44);
}

.eliminar a:hover {
    background-color: rgb(170, 42, 33);
}